<% pageSection 'UI Components' %>
<% pageTitle 'Alerts' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Use notes as helpers on forms, or brief messages to your customers.
    </p>
</div>

<% styleguide_block 'Notes' do %>

  <div class="note">
    This is a message
  </div>

  <div class="note $modifier_class">
    <p>This is a message.</p>
    <ul class="disc">
      <li>Bullets can offer more insight to the message</li>
    </ul>
  </div>

<% end %>

