<% pageSection 'UI Components' %>
<% pageTitle 'Badges &amp; Labels' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Explain the context that this Component is used and the naming convension.
    </p>
</div>


<% styleguide_block 'Badge' do %>
<span class="Badge $modifier_class">1</span>
<% end %>

<% styleguide_block 'Label' do %>
<span class="Label $modifier_class">Label</span>
<% end %>
