<% pageSection 'UI Components' %>
<% pageTitle 'Breadcrumbs' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
<p>Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation</p>
<p>
    The code lives in snippet/breadcrumb.</p>
</div>

<% styleguide_block 'Breadcrumbs' do %>
    <div class="breadcrumb">
    <a href="#" title="Back to the frontpage">Home</a>
    <span>»</span>
       <a href="#" title="">Collection Name</a>
    <span>»</span>
    <span>Product Name</span>
    </div>
<% end %>


