<% pageSection 'UI Components' %>
<% pageTitle 'Buttons' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>Timber offers a primary and secondary button to be used or customized as you need.</p>
</div>


<% styleguide_block 'Buttons' do %>
    <a href="#" class="btn $modifier_class">Press me</a>
    <button href="#" class="btn $modifier_class">Press me</button>
    <span href="#" class="btn $modifier_class">Press me</span>
    <input type="submit" href="#" class="btn $modifier_class" value="Press Me">
<% end %>
