<% pageSection 'UI Components' %>
<% pageTitle 'Buttons' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>Timber offers a primary and secondary button to be used or customized as you need.</p>
</div>


<% styleguide_block 'Buttons' do %>
    <p>
    <a href="#" class="btn">Default Button</a>
    <a href="#" class="btn btn--small">Small Default Button</a>
    </p>
    <p>
    <a href="#" class="btn-secondary">Secondary Button</a>
    <a href="#" class="btn-secondary btn--small">Small Secondary Button</a>
    </p>
    <p>
    <a href="#" class="btn disabled">Disabled Button</a>
    <a href="#" class="btn disabled btn--small">Small Disabled Button</a>
    </p>
    <p>
    <a href="#" class="btn btn--full">Wide Button</a>
    </p>
<% end %>
