<% pageSection 'Base' %>
<% pageTitle 'Colours' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Colour variables set in the theme.
    </p>
</div>

<% styleguide_colour_block('Colours - User') %>
<% styleguide_colour_block('Colours - System') %>
