<% pageSection 'Design Elements' %>
<% pageTitle 'Colours' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        This is the primary and neutrals colour palettes as described in the styleguide and in <code>screen/_colours.scss</code>.
    </p>
    <p>
        Please use the sass map syntax: <a href="http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/" target="_blank">Friendlier Colour Names Sass Map</a>
    </p>
</div>

<% styleguide_colour_block('Colours - Greys') %>
<% styleguide_colour_block('Colours - Primary') %>
