<% pageSection 'UI Components' %>
<% pageTitle 'Carts' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
</div>

<%= erb :partial_cart, :layout => false %>

