<% pageSection 'Component Groups' %>
<% pageTitle 'Site Footer' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Explain the context that this Component is used and the naming convension.
    </p>
</div>

<% styleguide_block 'Site Footer' do %>
<div class="PanelCTA">
    <div class="container container@lg">
        <div class="row">
            <div class="col-xs-12 col-sm-6 pad--top10 pad--bottom6">
                <div class="copy1 Type--colorWhite margin--bottom10">
                    <h4 class="margin--bottom6">Car servicing made easy</h4>
                    <p>With over <strong>200 locations nationwide</strong> there is sure to be an authorized <strong>Club Evolution</strong> service centre near you.</p>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 copy1 Type--colorWhite">
                        <p class="Type--weightBold">Simple. That&rsquo;s the way it should be.</p>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <a href="#" class="Button Button--hero with-icon Button--skyBlue ButtonIcon--arrowWhiteSmall">Make a Booking <i class="ButtonIcon"></i></a>
                    </div>
                </div>
            </div>
            <div class="PanelCTA-checkerplate Background--checkplate-250 ol-xs-12 col-sm-6 pad--top10 pad--bottom6 pad--left10">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 copy1 Type--colorWhite">
                        <h4 class="margin--bottom6">Join Club Evolution</h4>
                        <p>Hassle free vehicle servicing and the chance to win big plus free 6 months roadside assist.</p>
                        <a href="#" class="Link Link Link--major with-arrow">Join Club Evolution today</a>
                    </div>
                    <div class="col-xs-12 col-sm-5 PanelCTA-giftCard u-alignCenter">
                        <img src="images/cards/gift-card.png" alt="" class="PanelCTA-giftCardImage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="SiteFooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <a href="#" class="Button Button--grey2 Button--hero with-icon ButtonIcon--arrowWhiteSmall margin--bottom6">Join Club Evolution <i class="ButtonIcon"></i></a>
                    </div>
                    <div class="col-xs-12 col-md-5 pad--right0@md">
                        <a href="#" class="Button Button--skyBlue Button--hero with-icon ButtonIcon--search margin--bottom6">Find a Service Centre <i class="ButtonIcon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <h5 class="SiteFooter-blurb">We&rsquo;ll help you get there safe<br>For assistance call <a href="tel:1800 450 490" rel="tel">1800 450 490</a></h5>
                <ul class="SiteFooter-navigation">
                    <li class="Nav-item"><a href="#">For Members</a></li>
                    <li class="Nav-item"><a href="#">News</a></li>
                    <li class="Nav-item"><a href="#">Find a service centre</a></li>
                    <li class="Nav-item"><a href="#">For service centres</a></li>
                    <li class="Nav-item"><a href="#">Make a booking</a></li>
                    <li class="Nav-item"><a href="#">Contact us</a></li>
                    <li class="Nav-item"><a href="#">Join Club Evolution</a></li>
                    <li class="Nav-item"><a href="#">Terms &amp; conditions</a></li>
                    <li class="Nav-item"><a href="#">Disclaimer</a></li>
                    <li class="Nav-item"><a href="#">Competitions</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% end %>
