<div class="PageHeader" style="background-image:url('http://lorempixel.com/1600/800/transport/7')">
    <div class="PageHeader-overlay SkyBlueOverlay--80">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 copy1">
                    <h1 class="PageHeader--title">Competitive vehicle servicing plus free roadside assist.</h1>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 copy1 Type--colorWhite Type--size7">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quas incidunt, quaerat minus obcaecati, totam earum deleniti deserunt qui culpa, eum numquam. Mollitia quas neque voluptatum quo id maxime, autem?</p>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <a href="#" class="Button">Learn More</a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="#" class="Button">Join Today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


