<% pageSection 'Component Groups' %>
<% pageTitle 'Site Footer' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Explain the context that this Component is used and the naming convension.
    </p>
</div>

<% styleguide_block 'Site Footer' do %>

<%= erb :partial_siteFooter, :layout => false %>

<% end %>

