<% pageSection 'UI Components' %>
<% pageTitle 'Figures' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Used when an image, chart, or code example would be accompanied by a caption.
    </p>
    <p>
        Located at: <code>screen/blocks/_figure.scss</code>.
    </p>
    <p><em>Note that we don't use figure and figcaption html elements.</em></p>
</div>

<% styleguide_block 'Figure' do %>
<div class="Figure $modifier_class">
    <div class="Figure-content"></div>
    <div class="Figure-caption">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
</div>
<% end %>

<% styleguide_block 'Figure - Chart' do %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses'],
            ['2004',  1000,      400],
            ['2005',  1170,      460],
            ['2006',  660,       1120],
            ['2007',  1030,      540]
        ]);

        var options = {
            title: 'Company Performance',
            vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<div class="Figure Figure--chart $modifier_class">
    <div class="Figure-content" id="chart_div"></div>
    <div class="Figure-caption">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
</div>
<% end %>

<% styleguide_block 'Figure - Image' do %>
<div class="Figure Figure--image $modifier_class">
    <div class="Figure-content">
        <img src="http://lorempixel.com/400/300/technics/2/" />
    </div>
    <div class="Figure-caption">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
</div>
<% end %>
