<% pageSection 'UI Components' %>
<% pageTitle 'Flyouts' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Content that is displayed when a user selects an option.
    </p>
    <p>
        Located at: <code>screen/blocks/_flyouts.scss</code>.
    </p>
</div>

<% styleguide_block 'Flyout' do %>
<div class="Flyout $modifier_class">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis inventore laboriosam minus nemo, omnis quaerat qui repellat sint tempora temporibus. Deserunt minus natus placeat quasi. Consectetur dolorem incidunt necessitatibus placeat.</p>
</div>
<% end %>
