<% pageSection 'UI Components' %>
<% pageTitle 'Forms' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>

    <h5>Vertical (default)</h5>
    <p>By default, forms follow this pattern. Be sure to remove element bottom padding if you aren't using a large form.</p>

    <h5>Horizontal</h5>
    <p>To make form elements flow inline, add a class of .form-horizontal to the parent.</p>

    <p>You cannot add a class directly to most liquid form elements (e.g. {% form 'contact' %}). Instead, wrap the form in a div with the class .form-horizontal to achieve the same effect.</p>

    <h5>Invisible Labels</h5>
    <p>Add a class of hidden-label to a label to hide it, while keeping it accessible to screen readers. Use the placeholder attribute as your visible label.</p>

    <p>Note: The placeholder attribute only works in IE10+, so invisible labels are disabled in IE9 and below.</p>
</div>

<% styleguide_block 'Newsletter Form' do %>
    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
      <input type="email" value="" placeholder="Email address" name="EMAIL" id="mail" class="input-group-field">
      <span class="input-group-btn">
        <input type="submit" class="btn" value="Subscribe" name="subscribe" id="subscribe">
      </span>
    </form>
<% end %>


<% styleguide_block 'Vertical Form' do %>
<div class="grid">
    <div class="grid-item large--one-third">
      <label for="text1">Text Field</label>
      <input type="text" id="text1">

      <label for="text2">Placeholder</label>
      <input type="text" id="text2" placeholder="Placeholder text">

      <label for="text3">Disabled Field</label>
      <input type="text" id="text3" disabled="">

      <label for="text4">Label with Hint <span class="label-hint">A-Z, 0-9</span></label>
      <input type="text" id="text4">

      <label for="text5" class="error">Text Field (Error)</label>
      <input type="text" id="text5" class="error" value="Invalid Entry">
    </div>

    <div class="grid-item large--one-third">
      <label for="select1">Select Field</label>
      <select id="select1">
        <option value="0">-- Choose --</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>

      <fieldset>
        <legend>Checkboxes</legend>
        <input type="checkbox" id="check1"> <label for="check1" class="inline">Checkbox Field</label><br>
        <input type="checkbox" id="check2"> <label for="check2" class="inline">Checkbox Field</label><br>
        <input type="checkbox" id="check3"> <label for="check3" class="inline">Checkbox Field</label>
      </fieldset>

      <fieldset>
      <legend>Radios</legend>
        <input type="radio" name="radio" id="radio1"> <label for="radio1" class="inline">Option1</label><br>
        <input type="radio" name="radio" id="radio2"> <label for="radio2" class="inline">Option1</label><br>
        <input type="radio" name="radio" id="radio3"> <label for="radio3" class="inline">Option1</label>
      </fieldset>
    </div>
    <div class="grid-item large--one-third">
      <label for="textarea1">Textarea</label>
      <textarea id="textarea1" placeholder="Placeholder text"></textarea>

      <label for="file1">File Field</label>
      <input id="file1" type="file">
    </div>
</div>
<% end %>

<% styleguide_block 'Horizontal Form' do %>
<form class="form-horizontal">
<label for="textHorizontal1">Horizontal Label</label>
<input type="text" id="textHorizontal1" placeholder="First name">
<input type="text" id="textHorizontal2" placeholder="Last name">
<select id="selectHorizontal1">
  <option value="0">-- Choose --</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
<input type="checkbox" id="checkInline"> <label for="checkInline" class="inline">Checkbox Label</label>
</form>
<% end %>

<% styleguide_block 'Invisible Labels' do %>
    <form class="form-horizontal">
        <label for="testInvisibleLabel1" class="hidden-label">First Name</label>
        <input type="text" id="testInvisibleLabel1" name="testInvisibleLabel1" placeholder="First Name">
        <label for="testInvisibleLabel2" class="hidden-label">Last Name</label>
        <input type="text" id="testInvisibleLabel2" name="testInvisibleLabel2" placeholder="Last Name">
        <label for="testInvisibleLabel3" class="hidden-label">Email</label>
        <input type="text" id="testInvisibleLabel3" name="testInvisibleLabel3" placeholder="Email">
      </form>
<% end %>


<% styleguide_block 'Input Groups' do %>
<div class="grid">
    <div class="grid-item large--one-half">
        <h4 class="docs-example">Example 1</h4>
        <div class="input-group">
            <span class="input-group-btn">
              <input type="submit" class="btn" value="Go">
          </span>
          <input type="text" name="q" value="" placeholder="Placeholder" class="input-group-field">
      </div>
  </div>
      <div class="grid-item large--one-half">
        <h4 class="docs-example">Example 2 | Mailchimp Integration</h4>
        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
            <input type="email" value="" placeholder="Email address" name="EMAIL" id="mail" class="input-group-field">
            <span class="input-group-btn">
              <input type="submit" class="btn-secondary" value="Subscribe" name="subscribe" id="subscribe">
          </span>
      </form>
    </div>
</div>
<% end %>

