<% pageSection 'CSS Utilities' %>
<% pageTitle 'Grid' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <h3>Features</h3>
    <ul>
        <li>
            <a href="#Offsettingcolumns">Offsetting Columns</a>
        </li>
        <li>
            <a href="#Nestingcolumns">Nesting Columns</a>
        </li>
        <li>
            <a href="#Columnordering">Column Ordering</a>
        </li>
    </ul>
</div>


<style>
.grid-demo {
  background-color:rgba(0,157,217,0.2);
  border:1px solid rgba(0,157,217,0.5);
  text-align:center;
}
</style>

<% styleguide_block 'Grid' do %>
<div class="grid">

  <div class="grid-item">
    <p class="grid-demo">1</p>
  </div>

  <div class="grid-item">
    <div class="grid">

      <div class="grid-item large--one-half medium--one-third">
        <p class="grid-demo">2.1</p>
      </div>

      <div class="grid-item large--one-quarter medium--one-third">
        <p class="grid-demo">2.2</p>
      </div>

      <div class="grid-item large--one-quarter medium--one-third">
        <p class="grid-demo">2.3</p>
      </div>

      <div class="grid-item large--one-third medium--one-whole">
        <p class="grid-demo">2.4</p>
      </div>

      <div class="grid-item large--one-third medium--one-half small--one-half">
        <p class="grid-demo">2.5</p>
      </div>

      <div class="grid-item large--one-third medium--one-half small--one-half">
        <p class="grid-demo">2.6</p>
      </div>

    </div>

  </div>

  <div class="grid-item">
    <div class="grid">

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.1</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.2</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.3</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.4</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.5</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.6</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.7</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.8</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.9</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.10</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.11</p>
      </div>

      <div class="grid-item large--one-twelfth one-sixth small--one-third">
        <p class="grid-demo">3.12</p>
      </div>

    </div>

  </div>

</div>
<% end %>


<% styleguide_block 'Grid' do %>
  <div class="grid">
  <div class="grid-item one-half">
    <p class="grid-demo">1.1</p>
  </div>
  <div class="grid-item one-half">
    <p class="grid-demo">1.2</p>
  </div>
</div>

// Two column with sub grid
<div class="grid">
  <div class="grid-item large--one-half">
    <p class="grid-demo">1.1</p>
  </div>
  <div class="grid-item large--one-half">
    <div class="grid">
      <div class="grid-item large--one-third">
        <p class="grid-demo">1.2</p>
      </div>
      <div class="grid-item large--one-third">
        <p class="grid-demo">1.3</p>
      </div>
      <div class="grid-item large--one-third">
        <p class="grid-demo">1.4</p>
      </div>
    </div>
  </div>
</div>
<% end %>