<% pageSection 'Layouts' %>
<% pageTitle 'Homepage' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Layouts are used to combine multiple Group Comonents to show a full working page.
    </p>
</div>

<%= erb :componentElem_pageHeader, :layout => false %>


