<% pageSection 'UI Components' %>
<% pageTitle 'Links' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
        <p>
            Our <a href="#" title="An Example of base link.">base link styling</a> is inherited but can be customised via a Block element of <code>.Link</code> with <code>.Link--**modifier**</code> modifiers.</p>
        <p>
            Similar to how we use the <a href="/buttons">Button block element</a>.
        </p>
        <p>
            The default <code>.Link</code> block handles. <code>cursor: pointer;</code>, <code>text-decoration: none;</code>, <code>transition</code>.
        </p>
    </p>
</div>

<% styleguide_block 'Link Styles' do %>
    <a href="#" class="Link $modifier_class">Test Link</a>
<% end %>


<% styleguide_block 'Link Inherit' do %>
    <a href="tel:1800555555" class="Link $modifier_class">1800 555 555</a> | <span class="$modifier_class">1800 555 555</span> | <span>1800 555 555</span>
<% end %>
