<% pageSection 'UI Components' %>
<% pageTitle 'Modals' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Modals sit inside Modal Container and are a wrapping element for content displayed in a modal window.
    </p>
    <p>
        Modal Contains would by default launch full screen so for demostration purposes we don't include these.
    </p>
    <p>
        Located at: <code>screen/blocks/_modals.scss</code>.
    </p>
</div>

<% styleguide_block 'Modal' do %>
<div class="GreyDark--75" style="padding:30px">
    <div class="Modal $modifier_class">
        <p style="height:220px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, aliquam pariatur hic. Eum, aliquid, ab ut doloribus vitae fugiat rem cupiditate consectetur nesciunt doloremque amet laborum sed nisi totam dolore.</p>
        <a href="#" class="Modal-close"></a>
    </div>
</div>
<a href="#">Launch Modal</a>
<% end %>

