<% pageSection 'UI Components' %>
<% pageTitle 'Pagination' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <p>Documentation - <a href="http://docs.shopify.com/themes/liquid-variables/paginate">http://docs.shopify.com/themes/liquid-variables/paginate</a></p>
    <p>Pagination will only work when you're trying to access an available object. The snippets below paginates through the blogs.news.articles object, so would only function properly on blog.liquid. View the documentation for other areas that can be paginated.</p>
    <p>The paginate liquid tag can limit how many articles are shown per page by wrapping the article loop with it.</p>
    <p>The code lives in snippet/pagination-custom.</p>
</div>

<% styleguide_block 'Pagination' do %>
    <ul class="pagination-custom">
        <li class="disabled"><span>←</span></li>
        <li class="active"><span>1</span></li>
        <li>
          <a href="#" title="">2</a>
        </li>
        <li>
          <a href="#" title="Next »">→</a>
        </li>
    </ul>
<% end %>
