<main class="wrapper main-content" role="main">
    <h2>Frontpage Collection</h2>
    <div class="grid-uniform">
        <div class="grid-item large--one-quarter medium--one-half">
            <a href="/products/rattle-indigo-mens-tee" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/10516_indigo_med_wash_l_z_large.jpeg?v=1401811137" alt="RATTLE INDIGO MENS TEE">
            </a>
            <p class="h6">
                <a href="/products/rattle-indigo-mens-tee">RATTLE INDIGO MENS TEE</a>
            </p>
            <p>
                $114.40
            </p>
        </div>
        <div class="grid-item large--one-quarter medium--one-half">
            <a href="/products/ricky-straight-super-t-mens-jean" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/001a_large.jpeg?v=1401811203" alt="RICKY STRAIGHT SUPER T MENS JEAN">
            </a>
            <p class="h6">
                <a href="/products/ricky-straight-super-t-mens-jean">RICKY STRAIGHT SUPER T MENS JEAN</a>
            </p>
            <p>
                $517.40
            </p>
        </div>
        <div class="grid-item large--one-quarter medium--one-half">
            <a href="/products/womens-long-cardigan" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/10260_natural_l_z_large.jpeg?v=1401811305" alt="WOMENS LONG CARDIGAN">
            </a>
            <p class="h6">
                <a href="/products/womens-long-cardigan">WOMENS LONG CARDIGAN</a>
            </p>
            <p>
                $205.40
            </p>
        </div>
        <div class="grid-item large--one-quarter medium--one-half">
            <a href="/products/true-flatlock-mens-tee-1" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/10413_09_charcoal_l_z_large.jpeg?v=1401811294" alt="TRUE FLATLOCK MENS TEE">
            </a>
            <p class="h6">
                <a href="/products/true-flatlock-mens-tee-1">TRUE FLATLOCK MENS TEE</a>
            </p>
            <p>
                $88.40
            </p>
        </div>
    </div>
    <hr>
    <h2>Featured Collections</h2>
    <div class="grid-uniform">
        <div class="grid-item large--one-fifth medium--one-third text-center">
            <a href="/collections/collection-1" title="Browse our Collection 1 collection" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/10427_bjml_mystic_water_clean_l_z_large.jpeg?v=1401811032" alt="Collection 1">
            </a>
            <a href="/collections/collection-1" title="Browse our Collection 1 collection">Collection 1</a>
            <p>
                5 items
            </p>
        </div>
        <div class="grid-item large--one-fifth medium--one-third text-center">
            <a href="/collections/collection-2" title="Browse our Collection 2 collection" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/002a_large.jpeg?v=1401811042" alt="Collection 2">
            </a>
            <a href="/collections/collection-2" title="Browse our Collection 2 collection">Collection 2</a>
            <p>
                24 items
            </p>
        </div>
        <div class="grid-item large--one-fifth medium--one-third text-center">
            <a href="/collections/collection-3" title="Browse our Collection 3 collection" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/10402_bbu_sunburst_s_z_large.jpeg?v=1401811234" alt="Collection 3">
            </a>
            <a href="/collections/collection-3" title="Browse our Collection 3 collection">Collection 3</a>
            <p>
                10 items
            </p>
        </div>
        <div class="grid-item large--one-fifth medium--one-third text-center">
            <a href="/collections/collection-4" title="Browse our Collection 4 collection" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/10250_black_b_z_large.jpeg?v=1401811065" alt="Collection 4">
            </a>
            <a href="/collections/collection-4" title="Browse our Collection 4 collection">Collection 4</a>
            <p>
                24 items
            </p>
        </div>
        <div class="grid-item large--one-fifth medium--one-third text-center">
            <a href="/collections/collection-5" title="Browse our Collection 5 collection" class="grid-image">
            <img src="//cdn.shopify.com/s/files/1/0383/9765/products/10260_natural_l_z_large.jpeg?v=1401811305" alt="Collection 5">
            </a>
            <a href="/collections/collection-5" title="Browse our Collection 5 collection">Collection 5</a>
            <p>
                7 items
            </p>
        </div>
    </div>
    <hr>
    <h2>Latest News</h2>
    <div class="grid">
        <div class="grid-item large--one-third">
            <time datetime="2014-02-25">
            2014-02-25
            </time>
            <h3><a href="/blogs/news/12501953-some-notes-on-timber">Some Notes on Timber</a></h3>
            <div class="rte">
                <p>What's in this demo Check out the Timber documentation to learn more about using this framework in your own projects....</p>
            </div>
            <ul>
            </ul>
            <p><a href="/blogs/news/12501953-some-notes-on-timber">Read more →</a></p>
        </div>
        <div class="grid-item large--one-third">
            <time datetime="2014-02-25">
            2014-02-25
            </time>
            <h3><a href="/blogs/news/12501893-cupcake-ipsum-article">Cupcake Ipsum Article</a></h3>
            <div class="rte">
                <p>Cupcake ipsum dolor sit amet powder. Jelly chupa chups donut croissant I love jelly cupcake I love. Bear claw lollipop...</p>
            </div>
            <ul>
            </ul>
            <p><a href="/blogs/news/12501893-cupcake-ipsum-article">Read more →</a></p>
        </div>
        <div class="grid-item large--one-third">
            <time datetime="2014-02-25">
            2014-02-25
            </time>
            <h3><a href="/blogs/news/12496665-bacon-ipsum-article">Bacon Ipsum Article</a></h3>
            <div class="rte">
                <p>Bacon ipsum dolor sit amet Pig frankfurter cow turkey biltong beef ribs kevin pork belly pancetta corned beef. Sirloin bacon...</p>
            </div>
            <ul>
            </ul>
            <p><a href="/blogs/news/12496665-bacon-ipsum-article">Read more →</a></p>
        </div>
    </div>
</main>