<footer class="site-footer small--text-center" role="contentinfo">
    <div class="wrapper">
        <div class="grid">
            <div class="grid-item medium--one-half large--three-twelfths">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/pages/about-us">About Us</a></li>
                </ul>
            </div>
            <div class="grid-item medium--one-half large--five-twelfths">
                <h3>Get Connected</h3>
                <ul class="inline-list social-icons">
                    <li>
                        <a class="icon-fallback-text" href="https://twitter.com/shopify" title="Timber Demo Theme on Twitter">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                        <span class="fallback-text">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-fallback-text" href="https://www.facebook.com/shopify" title="Timber Demo Theme on Facebook">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                        <span class="fallback-text">Facebook</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid-item large--one-third">
                <h3>Newsletter</h3>
                <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                    <input type="email" value="" placeholder="your-email@example.com" name="EMAIL" id="mail" class="input-group-field" aria-label="your-email@example.com" autocorrect="off" autocapitalize="off">
                    <span class="input-group-btn">
                    <input type="submit" class="btn" name="subscribe" id="subscribe" value="Subscribe">
                    </span>
                </form>
            </div>
        </div>
        <hr>
        <p class="text-center">
            <a href="http://shopify.com/timber">Timber Theme Framework</a> by <a href="http://www.shopify.com?ref=Timber" title="Shopify.com">Shopify</a><br>
            <small><a href="http://www.shopify.ca/website/templates" target="_blank">Website template by Shopify</a></small>
        </p>
    </div>
</footer>