<main class="wrapper main-content" role="main">
    <div itemscope="" itemtype="http://schema.org/Product">
        <meta itemprop="url" content="http://timber-demo.myshopify.com/products/ricky-straight-super-t-mens-jean">
        <meta itemprop="image" content="//cdn.shopify.com/s/files/1/0383/9765/products/001a_grande.jpeg?v=1401811203">
        <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
            <a href="/" title="Back to the frontpage">Home</a>
            <span aria-hidden="true">›</span>
            <span>RICKY STRAIGHT SUPER T MENS JEAN</span>
        </nav>
        <div class="grid">
            <div class="grid-item large--one-half text-center">
                <div class="product-photo-container" id="productPhoto">
                    <img src="//cdn.shopify.com/s/files/1/0383/9765/products/001a_large.jpeg?v=1401811203" alt="RICKY STRAIGHT SUPER T MENS JEAN" id="productPhotoImg">
                </div>
                <ul class="product-photo-thumbs grid-uniform" id="productThumbs">
                    <li class="grid-item one-quarter">
                        <a href="//cdn.shopify.com/s/files/1/0383/9765/products/001a_large.jpeg?v=1401811203" class="product-photo-thumb">
                        <img src="//cdn.shopify.com/s/files/1/0383/9765/products/001a_compact.jpeg?v=1401811203" alt="RICKY STRAIGHT SUPER T MENS JEAN">
                        </a>
                    </li>
                    <li class="grid-item one-quarter">
                        <a href="//cdn.shopify.com/s/files/1/0383/9765/products/001d_large.jpeg?v=1401811203" class="product-photo-thumb">
                        <img src="//cdn.shopify.com/s/files/1/0383/9765/products/001d_compact.jpeg?v=1401811203" alt="RICKY STRAIGHT SUPER T MENS JEAN">
                        </a>
                    </li>
                    <li class="grid-item one-quarter">
                        <a href="//cdn.shopify.com/s/files/1/0383/9765/products/001b_large.jpeg?v=1401811203" class="product-photo-thumb">
                        <img src="//cdn.shopify.com/s/files/1/0383/9765/products/001b_compact.jpeg?v=1401811203" alt="RICKY STRAIGHT SUPER T MENS JEAN">
                        </a>
                    </li>
                    <li class="grid-item one-quarter">
                        <a href="//cdn.shopify.com/s/files/1/0383/9765/products/001c_large.jpeg?v=1401811203" class="product-photo-thumb">
                        <img src="//cdn.shopify.com/s/files/1/0383/9765/products/001c_compact.jpeg?v=1401811203" alt="RICKY STRAIGHT SUPER T MENS JEAN">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid-item large--one-half">
                <h1 itemprop="name">RICKY STRAIGHT SUPER T MENS JEAN</h1>
                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="CAD">
                    <link itemprop="availability" href="http://schema.org/InStock">
                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
                        <div class="selector-wrapper">
                            <label for="productSelect-option-0">Size</label>
                            <select class="single-option-selector" data-option="option1" id="productSelect-option-0">
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                            </select>
                        </div>
                        <div class="selector-wrapper">
                            <label for="productSelect-option-1">Leg</label>
                            <select class="single-option-selector" data-option="option2" id="productSelect-option-1">
                                <option value="30">30</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                            </select>
                        </div>
                        <select name="id" id="productSelect" class="product-variants" style="display: none;">
                            <option selected="selected" value="780884001">28 / 30 - $517.40 CAD</option>
                            <option value="780884005">28 / 32 - $517.40 CAD</option>
                            <option value="780884009">28 / 33 - $517.40 CAD</option>
                            <option value="780884013">28 / 34 - $517.40 CAD</option>
                            <option value="780884017">29 / 30 - $517.40 CAD</option>
                            <option value="780884021">29 / 32 - $517.40 CAD</option>
                            <option value="780884025">29 / 33 - $517.40 CAD</option>
                            <option value="780884029">29 / 34 - $517.40 CAD</option>
                            <option value="780884033">30 / 30 - $517.40 CAD</option>
                            <option value="780884037">30 / 32 - $517.40 CAD</option>
                            <option value="780884041">30 / 33 - $517.40 CAD</option>
                            <option value="780884045">30 / 34 - $517.40 CAD</option>
                            <option value="780884049">32 / 30 - $517.40 CAD</option>
                            <option value="780884053">32 / 32 - $517.40 CAD</option>
                            <option value="780884057">32 / 33 - $517.40 CAD</option>
                            <option value="780884061">32 / 34 - $517.40 CAD</option>
                            <option value="780884065">33 / 30 - $517.40 CAD</option>
                            <option value="780884069">33 / 32 - $517.40 CAD</option>
                            <option value="780884073">33 / 33 - $517.40 CAD</option>
                            <option value="780884077">33 / 34 - $517.40 CAD</option>
                            <option value="780884081">34 / 30 - $517.40 CAD</option>
                            <option value="780884085">34 / 32 - $517.40 CAD</option>
                            <option value="780884093">34 / 33 - $517.40 CAD</option>
                            <option value="780884105">34 / 34 - $517.40 CAD</option>
                        </select>
                        <span id="productPrice" class="h2" itemprop="price">$517.40</span>
                        <label for="quantity" class="quantity-selector">Quantity</label>
                        <div class="js-qty">
                            <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="" data-qty="0">−</button>
                            <input type="text" class="js-qty__num" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="quantity">
                            <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="" data-qty="11">+</button>
                        </div>
                        <button type="submit" name="add" id="addToCart" class="btn">
                        <span id="addToCartText">Add to Cart</span>
                        </button>
                    </form>
                </div>
                <div class="product-description rte" itemprop="description">
                    <span>A key piece from our spring collection, this iteration of our Ricky captures the essence of our sun bleached denim series to perfection. A classic straight leg jean is the fit favorite among True Religion men and is the ideal canvas to support this edgy wash. A rigorous finishing process delivers a washed out indigo shade and is then sanded down to carry out the perfect amount of distress. A sprinkling of bleach adds a distinct touch as does the thick Super T topstitch construction in Rust. If you want your jeans to stand out rather than blend in, this is the style for you.</span><br>
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.shopify.com/s/shopify/option_selection.js?07a1f70b36a1e998b9386d110c7cbe218dbaa74e" type="text/javascript"></script>
    <script>
        var selectCallback = function(variant, selector) {
          timber.productPage({
            money_format: "${{amount}}",
            variant: variant,
            selector: selector
          });
        };
        
        jQuery(function($) {
          new Shopify.OptionSelectors('productSelect', {
            product: {"id":325061245,"title":"RICKY STRAIGHT SUPER T MENS JEAN","handle":"ricky-straight-super-t-mens-jean","description":"\u003Cspan\u003EA key piece from our spring collection, this iteration of our Ricky captures the essence of our sun bleached denim series to perfection. A classic straight leg jean is the fit favorite among True Religion men and is the ideal canvas to support this edgy wash. A rigorous finishing process delivers a washed out indigo shade and is then sanded down to carry out the perfect amount of distress. A sprinkling of bleach adds a distinct touch as does the thick Super T topstitch construction in Rust. If you want your jeans to stand out rather than blend in, this is the style for you.\u003C/span\u003E\u003Cbr /\u003E\n\u003Cul\u003E\u003C/ul\u003E","published_at":"2014-06-03T11:59:51-04:00","created_at":"2014-06-03T12:00:02-04:00","vendor":"True Religion","type":"Jeans","tags":["$250 +","28","29","30","31","32","33","34"],"price":51740,"price_min":51740,"price_max":51740,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":780884001,"title":"28 / 30","options":["28","30"],"option1":"28","option2":"30","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884005,"title":"28 / 32","options":["28","32"],"option1":"28","option2":"32","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884009,"title":"28 / 33","options":["28","33"],"option1":"28","option2":"33","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884013,"title":"28 / 34","options":["28","34"],"option1":"28","option2":"34","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884017,"title":"29 / 30","options":["29","30"],"option1":"29","option2":"30","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884021,"title":"29 / 32","options":["29","32"],"option1":"29","option2":"32","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884025,"title":"29 / 33","options":["29","33"],"option1":"29","option2":"33","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884029,"title":"29 / 34","options":["29","34"],"option1":"29","option2":"34","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884033,"title":"30 / 30","options":["30","30"],"option1":"30","option2":"30","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884037,"title":"30 / 32","options":["30","32"],"option1":"30","option2":"32","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884041,"title":"30 / 33","options":["30","33"],"option1":"30","option2":"33","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884045,"title":"30 / 34","options":["30","34"],"option1":"30","option2":"34","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884049,"title":"32 / 30","options":["32","30"],"option1":"32","option2":"30","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884053,"title":"32 / 32","options":["32","32"],"option1":"32","option2":"32","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884057,"title":"32 / 33","options":["32","33"],"option1":"32","option2":"33","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884061,"title":"32 / 34","options":["32","34"],"option1":"32","option2":"34","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884065,"title":"33 / 30","options":["33","30"],"option1":"33","option2":"30","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884069,"title":"33 / 32","options":["33","32"],"option1":"33","option2":"32","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884073,"title":"33 / 33","options":["33","33"],"option1":"33","option2":"33","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884077,"title":"33 / 34","options":["33","34"],"option1":"33","option2":"34","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884081,"title":"34 / 30","options":["34","30"],"option1":"34","option2":"30","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884085,"title":"34 / 32","options":["34","32"],"option1":"34","option2":"32","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884093,"title":"34 / 33","options":["34","33"],"option1":"34","option2":"33","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null},{"id":780884105,"title":"34 / 34","options":["34","34"],"option1":"34","option2":"34","option3":null,"price":51740,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","available":true,"sku":"","requires_shipping":true,"taxable":true,"barcode":null,"featured_image":null}],"images":["//cdn.shopify.com/s/files/1/0383/9765/products/001a.jpeg?v=1401811203","//cdn.shopify.com/s/files/1/0383/9765/products/001d.jpeg?v=1401811203","//cdn.shopify.com/s/files/1/0383/9765/products/001b.jpeg?v=1401811203","//cdn.shopify.com/s/files/1/0383/9765/products/001c.jpeg?v=1401811203"],"featured_image":"//cdn.shopify.com/s/files/1/0383/9765/products/001a.jpeg?v=1401811203","options":["Size","Leg"],"content":"\u003Cspan\u003EA key piece from our spring collection, this iteration of our Ricky captures the essence of our sun bleached denim series to perfection. A classic straight leg jean is the fit favorite among True Religion men and is the ideal canvas to support this edgy wash. A rigorous finishing process delivers a washed out indigo shade and is then sanded down to carry out the perfect amount of distress. A sprinkling of bleach adds a distinct touch as does the thick Super T topstitch construction in Rust. If you want your jeans to stand out rather than blend in, this is the style for you.\u003C/span\u003E\u003Cbr /\u003E\n\u003Cul\u003E\u003C/ul\u003E"},
            onVariantSelected: selectCallback,
            enableHistoryState: true
          });
        
          // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
          
        
          // Hide selectors if we only have 1 variant and its title contains 'Default'.
          
        });
    </script>
</main>