<% pageSection 'UI Components' %>
<% pageTitle 'Preloaders' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Adds a loading animation inside of an element.
    </p>
    <p>
        Preloaders are usually animated gifs found in:<code>images/throbbers/*.gif</code>
    </p>
    <p>
        Preloader styling is located at: <code>screen/blocks/_preloaders.scss</code>.
    </p>
</div>


<% styleguide_icon_block 'Icon' do %>
    <i class="Icon $modifier_class"></i>
<% end %>
