<% pageSection 'UI Components' %>
<% pageTitle 'Separator' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        These items break apart content. They are often just used on the <code>&lt;hr /&gt;</code> element.
        We tend to use these over adding in borders on <code>&lt;div&gt;</code> elements as the way they handle margin is often more predictable.
    </p>
    <p>
        Located at: <code>screen/blocks/_separators.scss</code>.
    </p>
</div>

<% styleguide_block 'Separator' do %>
<div style="padding:30px 0;">
    <hr class="Separator $modifier_class" />
</div>
<% end %>
