<% pageSection 'UI Components' %>
<% pageTitle 'Separators' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
</div>

<% styleguide_block 'Separators' do %>
  <hr class="$modifier_class">
<% end %>

