<% pageSection 'UI Components' %>
<% pageTitle 'Sheets' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Explain the context that this Component is used and the naming convension.
    </p>
    <p>
        Sheet Styling is located in <code>screen/blocks/_sheet.scss</code>
    </p>
</div>

<% styleguide_block 'Sheet' do %>
<div class="Sheet $modifier_class">
    <div class="Sheet-header">
        <h3 class="Sheet-title">Sheet Title</h3>
    </div>
    <div class="Sheet-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquid ducimus facilis inventore ipsum officiis rem reprehenderit ullam?
        Atque cum debitis dolorem earum expedita qui ullam ut.
        Consequatur laborum perferendis saepe.
    </div>
    <div class="Sheet-footer">
        <button class="Button">Button</button>
    </div>
</div>
<% end %>

