<% pageSection 'CSS Utilities' %>
<% pageTitle 'Silent Classes' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        We use silent classes both for front-end preformance reasons and also to ensure the cascading nature of any change to a class that gets extended is understood.
    </p>
    <p>
        We have a general rule that we only extend silent classes and never a standard class.
    </p>


    <h2>Generic Classes</h2>

    <div>
        <code>%cf</code> Clear fix
    </div>

    <h2>Site Specific</h2>

</div>
