<div class="styleguide-NavSection--design">
    <h6 class="styleguide-Nav-heading">Base</h6>
    <div class="styleguide-Nav-list">
        <a class="styleguide-nav-item-colours" href="/colours">Colours</a>
        <a class="styleguide-nav-item-grid" href="/grid">Grids</a>
        <a class="styleguide-nav-item-typography" href="/typography">Typography</a>
        <a class="styleguide-nav-item-icons" href="/icons">Icons</a>
        <!-- <a class="styleguide-nav-item-mixins" href="/mixins">Mixins</a> -->
    </div>
</div>

<div class="styleguide-NavSection--ui-components">
    <h6 class="styleguide-Nav-heading">Components</h6>
    <div class="styleguide-Nav-list">
        <a class="styleguide-nav-item-pagination" href="/pagination">Pagination</a>
        <!-- <a class="styleguide-nav-item-tags" href="/tags">Tags</a> -->
        <a class="styleguide-nav-item-buttons" href="/buttons">Buttons</a>
        <a class="styleguide-nav-item-breadcrumbs" href="/breadcrumbs">Breadcrumbs</a>
        <a class="styleguide-nav-item-forms" href="/forms">Forms</a>
        <a class="styleguide-nav-item-forms" href="/alerts">Alerts</a>
        <!-- <a class="styleguide-nav-item-carts" href="/carts">Carts</a> -->
        <!-- <a class="styleguide-nav-item-lists" href="/lists">Lists</a> -->
        <!-- <a class="styleguide-nav-item-links" href="/links">Links</a> -->
        <!-- <a class="styleguide-nav-item-components-siteheader" href="/components-siteheader">Site Header</a> -->
        <!-- <a class="styleguide-nav-item-components-sitefooter" href="/components-sitefooter">Site Footer</a> -->
    </div>
</div>

<div class="styleguide-NavSection--layouts">
    <h6 class="styleguide-Nav-heading">Layouts</h6>
    <div class="styleguide-Nav-list">
        <a class="styleguide-nav-item-layouts-homepage" href="/layouts-homepage">Homepage</a>
    </div>
</div>



