<div class="styleguide-NavSection--design">
    <h6 class="styleguide-Nav-heading">Base</h6>
    <div class="styleguide-Nav-list">
        <a class="styleguide-nav-item" href="/colours">Colours</a>
        <a class="styleguide-nav-item" href="/grid">Grids</a>
        <a class="styleguide-nav-item" href="/typography">Typography</a>
        <a class="styleguide-nav-item" href="/icons">Icons</a>
        <!-- <a class="styleguide-nav-item-mixins" href="/mixins">Mixins</a> -->
    </div>
</div>

<div class="styleguide-NavSection--ui-components">
    <h6 class="styleguide-Nav-heading">Components</h6>
    <div class="styleguide-Nav-list">
        <a class="styleguide-nav-item" href="/pagination">Pagination</a>
        <!-- <a class="styleguide-nav-item-tags" href="/tags">Tags</a> -->
        <a class="styleguide-nav-item" href="/buttons">Buttons</a>
        <a class="styleguide-nav-item" href="/breadcrumbs">Breadcrumbs</a>
        <a class="styleguide-nav-item" href="/forms">Forms</a>
        <a class="styleguide-nav-item" href="/alerts">Alerts</a>
        <a class="styleguide-nav-item" href="/separators">Separators</a>
    </div>
</div>

<div class="styleguide-NavSection--ui-components">
    <h6 class="styleguide-Nav-heading">Compounds</h6>
    <div class="styleguide-Nav-list">
        <a class="styleguide-nav-item" href="/compounds-siteheader">Site Header</a>
        <a class="styleguide-nav-item" href="/compounds-sitefooter">Site Footer</a>
        <a class="styleguide-nav-item" href="/compounds-cart">Cart</a>
    </div>
</div>

<div class="styleguide-NavSection--layouts">
    <h6 class="styleguide-Nav-heading">Pages</h6>
    <div class="styleguide-Nav-list">
        <a class="styleguide-nav-item" href="/pages-homepage">Homepage</a>
        <a class="styleguide-nav-item" href="/pages-product-collection">Product Collection</a>
        <a class="styleguide-nav-item" href="/pages-product-detail">Product Detail</a>
    </div>
</div>

