<% pageSection 'UI Components' %>
<% pageTitle 'Tabs' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Tabs are a specific <a href="/navigation">navigation</a> type. For grouping content in page and hiding content.
    </p>
    <p>
        Tabs require Javascript to toggle between each tab. If no JS Is detected they should stack on top of each other.
    </p>
    <p>
        Tabs Styling is located in <code>screen/blocks/_cards.scss</code>
    </p>
</div>

<% styleguide_block 'Tabs' do %>
<dl class="Tabs js-Tabs">
    <dd class="Tabs-item is-active">
        <a href="#panel1">Tab 1</a>
    </dd>
    <dd class="Tabs-item">
        <a href="#panel2">Tab 2</a>
    </dd>
    <dd class="Tabs-item">
        <a href="#panel3">Tab 3</a>
    </dd>
    <dd class="Tabs-item">
        <a href="#panel4">Tab 4</a>
    </dd>
</dl>
<div class="Tabs-content">
    <div class="Tabs-content-block is-active" id="panel1">
        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
    </div>
    <div class="Tabs-content-block" id="panel2">
        <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
    </div>
    <div class="Tabs-content-block" id="panel3">
        <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
    </div>
    <div class="Tabs-content-block" id="panel4">
        <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
    </div>
</div>
<% end %>
