<% pageSection 'UI Components' %>
<% pageTitle 'Tags' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
<p>Documentation - http://docs.shopify.com/themes/liquid-variables/article</p>

<p>Get an article's tags with a simple for loop. The example below also adds a comma after each tag, unless it's the last one.</p>
<p>The code lives in snippet/tags-article.</p>
</div>

<% styleguide_block 'Links' do %>
    <ul class="pagination-custom">
        <li class="disabled"><span>←</span></li>
        <li class="active"><span>1</span></li>
        <li>
          <a href="#" title="">2</a>
        </li>
        <li>
          <a href="#" title="Next »">→</a>
        </li>
    </ul>
<% end %>
`