<% pageSection 'UI Components' %>
<% pageTitle 'Tooltips' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Explain the context that this Component is used and the naming convension.
    </p>
    <p>
        Tool tips styling is located in <code>screen/blocks/_tooltips.scss</code>
    </p>
    <p>
        <em>Note: Requires Javascript.</em>
    </p>
</div>

<% styleguide_block 'Toolbar' do %>
<div class="Tooltip $modifier_class">
    Tooltip Content
</div>
<% end %>

