<% pageSection 'UI Components' %>
<% pageTitle 'Toolbars' %>

<div class="styleguide-pageIntro styleguide-pageCopy">
    <h1 class="styleguide-heading1"><%= @pageTitle %></h1>
    <p>
        Explain the context that this Component is used and the naming convension.
    </p>
    <p>
        Toolbar Styling is located in <code>screen/blocks/_toolbar.scss</code>
    </p>
</div>


<% styleguide_block 'Toolbar' do %>
<div class="Toolbar $modifier_class">
    <div class="Nav Nav--pills Nav--banner">
        <a class="Nav-item" href="#">Nav Item</a>
        <a class="Nav-item is-current" href="#">Nav Item</a>
        <a class="Nav-item" href="#">Nav Item</a>
    </div>
</div>
<% end %>

